* {
    margin: 0;
    padding: 0;
    margin-block: 0;
    padding-inline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    background-color: #f2f5ea;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color: #e75a7c;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #e75a7c;
}
h3 {
    font-size: 32px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: bold;
}
h5 {
    font-size: 23px;
    font-weight: bold;
}
h6 {
    font-size: 20px;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100vw;
    background-color: #bbc7a4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    place-items: center;
    height: 80px;
}
/*-MENU-*/
nav {
    display: none;
    background-color: #bbc7a4;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
}

#open-menu {
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    font-weight: bold;
    cursor: pointer;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: black solid 1.5px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: black;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

#regular {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content max-content max-content;
    column-gap: 30px;
}

#regular a {
    text-decoration: none;
    color: black;
}

#banner {
    height: 350px;
    background-color: grey;
}

#products {
    margin: 3vw 10vw 12vw 10vw;
    text-align: center;
}

.product {
    background-color: grey;
    height: 20vw;
    width: 20vw;
}

#products div {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

#program {
    height: 400px;
    background-color: grey;
    text-align: center;
    padding-top: 200px;
}

.vit-text {
    color: white;
    line-height: 2;
}

.wrap {
    display: none;
}

button {
    border: solid 3px white;
    background-color: transparent;
    margin-top: 20px;
    padding: 6px 70px;
    box-shadow: 3;
}

#gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vw;
    width: 40vw;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: grey;
    justify-content: center;
}

footer {
    background-color: #bbc7a4;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2;
}

/*-RESPONSIVENESS-*/

@media only screen and (max-width: 1000px) {
    #regular {
        display: none;
    }
    #open-menu {
        display:flex;
    }
    .product {
        height: 25vw;
        width: 25vw;
    }
    #products {
        margin: 12vw 5vw 12vw 5vw;
        text-align: center;
    }
    #products div {
        margin-top: 12vw;
    }
    #gif {
        height: 40vw;
        width: 60vw;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .product {
        height: 60vw;
        width: 60vw;
    }
    #products div {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        row-gap: 20px;
        place-items: center;
    }
    .nowrap {
        display: none;
    }
    .wrap{
        display: contents;
    }
    #gif {
        height: 40vw;
        width: 60vw;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}