* {
    margin: 0;
    padding: 0;
    margin-block: 0;
    padding-inline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    background-color: #F7F7EE;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color:  #1E421D;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1E421D;
}
h3 {
    font-size: 32px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: bold;
}
h5 {
    font-size: 23px;
    font-weight: bold;
}
h6 {
    font-size: 20px;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100vw;
    background-color:   #1E421D;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 40%;
    justify-items:left;
    align-items: center;
    height: 80px;
}
#logo{
    margin-left: 40px;
}
/*-MENU-*/
nav {
    display: none;
    background-color: #1E421D;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
}

#open-menu {
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a {
    color: #E1E587;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    font-weight: bold;
    cursor: pointer;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: #E1E587 solid 1.5px;
    cursor: pointer;
}

.open {
    margin: 0 0 0 24vw;
}

.menu-btn:hover {
    box-shadow: 0 0px 5px  #E1E587;;
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #E1E587;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: #E1E587;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

#regular {
    margin-left: 210px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content max-content max-content;
    column-gap: 30px;
}

#regular a {
    text-decoration: none;
    color:#E1E587;
}

#banner picture{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

#banner picture img {
    display: block;
    width: 100%;
    height: auto;
}

#products, #about {
    padding: 3vw 5vw 12vw 5vw;
    text-align: center;
}

#products div {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

#products div img {
    grid-row: 1 / 4;
    grid-column: 1;
}

#bildbehandling {
    margin: 3vw 10vw 6vw 10vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    text-align: center;
}

.behandlade img {
    width: 35vw;
    height: auto;
    margin: 30px;
}

#bildbehandling div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

#name {
    grid-row: 1;
    grid-column: 2;
}

#about>div {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    place-items: auto;
    padding: 30px;
    column-gap: 60px;
}

.about-text {
    margin: 20px;
    line-height: 30px;
    text-align: justify;
}
#profile img{
    border-radius: 500px;
}
#program {
    height: 25vw;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    background-image: url("images/fargsticka.jpg");
    position: relative;
    z-index: -1;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.vit-text {
    color: white;
    line-height: 2;
}

.wrap {
    display: none;
}

button {
    border: solid 3px white;
    background-color: transparent;
    margin-top: 20px;
    padding: 6px 70px;
    box-shadow: 3;
}

#gif img{
    width: 60vw;
    margin: 150px auto 150px 20vw ;
}

footer {
    background-color: #E1E587;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2;
}

/*-RESPONSIVENESS-*/

@media only screen and (max-width: 1521px) {
    #regular {
        display: none;
    }
    #open-menu {
        display:flex;
    }
    #products {
        margin: 12vw 5vw 12vw 5vw;
        text-align: center;
    }
    #products div {
        margin-top: 12vw;
    }
    #program{
        padding-top: 100px;
        height: 50vw;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 751px) {
    .open {
        margin: 0 0 0 8vw;
    }
    .nowrap {
        display: none;
    }
    .wrap{
        display: contents;
    }
    h1 {
        font-size: 30px;
    }
    #program{
        padding-top: 40px;
        height: 75vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .behandlade img {
        width: 60vw;
    }
    
    #bildbehandling div {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #profile img{
        width: 70vw;
        border-radius: 500px;
    }
    #about>div {
        padding: 10px;
    }
    .about-text {
        margin: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    #products div {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        row-gap: 20px;
        place-items: center;
    }
    #about>div {
        row-gap: 30px;
        grid-template-columns: auto;
    }
    #gif img{
        width: 80vw;
        margin: 100px auto 100px 10vw ;
    }
}